body{
    font-family: "Quicksand", sans-serif;
    background-image: url("../images/pidgeon-background.jpg");
    background-color: #dddddd; 
    color: black;
    font-size: 18px;
    padding-top: 15px;
    margin-left: 2%;
  }
h1{
    font-size: 2em;
    line-height: 1.5;
    color: #c12258;
}
a{
    font-size: 18px;
    color: #c12258;
    text-decoration: underline;
}
a:focus{
    border: 1px solid red;
}
table{
    border-collapse: separate;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
td{
    text-align: center;
    border-bottom: 2px solid black;
    padding: 15px 15px 15px 15px;
}
.rowhead{
    text-align: center;
    border-bottom: 2px solid black;
}
.colhead{
    min-width: 150px;
    padding: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #7e0830; 
    border-bottom: 2px solid black;
}
.colhead:last-child{
    border-top-right-radius: 8px;
}
.colhead:first-child{
    border-top-left-radius: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
tr:nth-child(odd){
    background-color: transparent;
}
tr:hover{
    background-color: #fab9cf;
}
tr:last-child{
    border-radius: 8px;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    min-height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin-left: 2%;
    margin-right: 2%;
}